# ImageKit Credentials
VITE_IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
VITE_IMAGEKIT_URL_ENDPOINT=

# Database Connection (Neon)
# You can use the full connection string:
DATABASE_URL=postgresql://neondb_owner:...

# OR use API-based connection fallback:
NEON_API_URL=
NEON_API_KEY=
